
	<p>HIIT Workouts!! </p>
	<p>Note-do not rest in between moves only between rounds </p>
	<p>1 round = each move for specified amount of time </p>
	<p>Rest 30 seconds in between each round </p>

	<p> 
	Remember to push yourself to do the moves not only as fast as you can, but also with good form. We recommend a 5 minute warm up and 5 minute cool down.  Warm up ideas include, but are not limited to a combination involving the following: jogging in place or on treadmill, jumping jacks, burpees, scissor runs, or stretching.  Cool downs are essential for your recovery.  This time helps your heart rate and breathing return to normal levels gradually which will help you avoid dizziness.  Cool downs should include 3-5 stretches each holding for 30 seconds 3 times.
	</p>

<h1> -----Week 1------- </h1>
<div id="day1">
<h2> Full Body Blast Off: (do each <%= @factor.round/3 * 30 %> seconds repeat for total of <%= @factor.round/3 *5 %> times)</h2>
<ul>
	<li> fire feet</li>  			
	<li>calf jumps</li> 			
	<li>jogging </li>    			
	<li> burpees </li>
</ul>    			
</div>

<div id="day2">
<h2> Total Legs (do each <%=  @factor.round/3 * 30 %> seconds, repeat for total of <%= @factor.round/3 * 3 %> times)</h2>
<ul>
	<li> squats </li>			
	<li> wide leg squats  </li>
	<li> lunges  </li>			
	<li> jump squats	 </li>			
	<li> jump lunges	 </li>	
</ul>
</div>

<div id="day3">
<h2>Fast Funday ( do each <%=  @factor.round/3 * 30%> seconds, repeat for total of <%= @factor.round/3 * 4 %> times)</h2>
<ul>
	<li> star jumps </li> 			
	<li> scissor run </li> 		
	<li> fire feet  		 </li>		
	<li> lateral jumps 	 </li>		
	<li> jogging 	 </li>			
</ul>
</div>

<h1>-----Week 2---------</h1>

<div id="day4">
<h2>Heart Beat  ( do each <%=  @factor.round/3 * 30 %> seconds and repeat <%= @factor.round/3 * 4%> times)</h2>
<ul>
	<li>burpee 		 </li>			
	<li> star jumps </li> 			
	<li> jump squat 		 </li>		
	<li> scissor run </li> 		
	<li> mountain climbers	 </li>	
</ul>
</div>

<div id="day5">
<h2> Core Cruncher ( do each <%=  @factor.round/3 * 30 %> seconds for total of <%= @factor.round/3 * 2%> times)</h2>
</ul>
	<li>plank	 </li>				
	<li>push ups   </li>				
	<li>pulse ups  </li>				
	<li>crunches	 </li>			
	<li>plank up 	 </li>			
</ul>
</div>

<div id="day6">
<h2> Wobbly Legs Funday (do each <%=  @factor.round/3 * 30%> seconds <%= @factor.round/3 * 5 %> times)</h2>
<ul>
	<li> butt kickers </li>			
	<li> jump lunges  </li>			
	<li> lateral jumps 	 </li>		
	<li> fire feet 		 </li>		
	<li> calf jumps  	 </li>		
</ul>
</div>


<h1> ------Week 3--------- </h1>
<div id="day7">
<h2> Explosions (do each <%=  @factor.round/3 * 45 %> seconds, repeat for total of <%= @factor.round/3 * 3%> times)</h2>
<ul>
	<li> push up  </li>				
	<li> jump squat 	 </li>			
	<li> burpee 		 </li>			
	<li> speed skater	 </li>		
	<li> lunges 		 </li>			
</ul>
</div>

<div id="day8">
<h2> Jump Around ( do each move <%=  @factor.round/3 *30%> seconds, repeat for total of <%= @factor.round/3 *4%> times)</h2>
<ul>
	<li> fire feet	 </li>			
	<li> lateral jumps 		 </li>	
	<li> burpee 				 </li>	
	<li> butt kickers 		 </li>	
	<li> jump squats 		 </li>	
</ul> 
</div>

<div id="day9">
<h2> Movin (do each move <%=  @factor.round/3 *30%> seconds, repeat <%= @factor.round/3 *4%> times)</h2>
<ul> 
	<li> plank 				 </li>	
	<li> mountain climbers 	 </li>	
	<li> calf jumps 			 </li>	
	<li> plank ups 			 </li>	
	<li> dead man burpees	 </li>	
</ul>
</div>

<h1> ------Week 4------------ </h1> 
<div id="day10">
<h2> Lower Body Meltdown (do each move <%=  @factor.round/3 *30%> seconds, repeat for total of <%= @factor.round/3 *3 %> times)</h2>
<ul> 
	<li> squats </li> 				
	<li> wide leg 			 </li>	
	<li> lunges 				 </li>	
	<li> lump lunges 		 </li>	
	<li> jump squats 		 </li>	
	<li> butt kickers 		 </li>	
</ul> 
</div>

<div id="Day11">
<h2> Cardio Killer - (do each move <%=  @factor.round/3 *45 %> seconds, repeat for total of <%= @factor.round/3 *4%> times)</h2>
<ul> 
	<li> push up 			 </li>	
	<li> lateral jump 		 </li>	
	<li> plank 				 </li>	
	<li> speed skater 		 </li>	
	<li> calf jump 			 </li>	
</ul> 
</div>

<div id="day12">
<h2>Last Day (do each move for <%=  @factor.round/3 *45%> seconds, repeat for total of <%= @factor.round/3 *4 %> times)</h2>
<ul> 
	<li> fire feet </li>			
	<li> burpees 			 </li>	
	<li> mountain climber 	 </li>	
	<li> scissor run 	</li> 		
	<li> star jumps 	</li> 			
</ul>

</div>